<div class="container-fluid">
    <section>
        <h1>Bienvenido a ...</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
    </section>

    <div class="row">
        <button *ngIf='userLoggued' type="button" class="btn btn-lg btn-secondary" routerLink="/aulasRemotas">Aulas Remotas</button>
    </div>
    
    <footer id="footer">
        <div class="container">
          <div class="copyright">
            © Copyright <strong><span>Flavio Danesse - fdanesse@gmail.com</span></strong>. All Rights Reserved
          </div>
        </div>
    </footer>
</div>