.card {
    margin: 0px 0px 0px 0px;
    position: relative;
    padding: 5px;
    display: inline-block;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.9);
    background-color: grey;
}

.card-header {
    background-color: grey;
    color: white;
}

.card-body {
    margin: 0px;
    padding: 0px;
}

.footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.btnCustom {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 2px;
    float: right;
}
